/* css styles */

.navbar-title{
  color: #303030;
  font-size: 1.2em;
  line-height: 1em;
  padding-bottom: 0;
  font-weight: 300;
  font-family: "Major Mono Display";
  /*text-shadow: 1px 1px #BABABA;*/
}

.navbar-brand img{
  max-height: 48px;
  padding-bottom: 5px;
  
}

.navbar{
  /*border-bottom: 3px solid #0a0909;*/
}

a {
  color: #6f5d3bff;
  /*text-decoration: none;*/
}

a:hover {
  color: #593e0cff;
}



p code:not(.sourceCode), li code:not(.sourceCode){
  color: #2F2D2D;
  background-color: #a4f3ae;
}

code {
  color: #2F2D2D;
  background-color: #a4f3ae;
}


.sidebar nav[role=doc-toc] ul>li>a.active{
  border-left: 2px solid #593e0cff;
  color: #593e0cff !important;
}

.quarto-title-banner {
    padding-bottom: 0;
    color: #595959;
    background: none;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "DM Serif Text";
  font-style: italic;
  color: #FFFFFF;
  
}

.lead {
  color: #FFFFFF ;
}

.quarto-title .quarto-categories .quarto-category {
    padding: 0.15em 0.55em 0em 0.55em;
    font-size: .65em;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 1px #a4f3ae;
    border-radius: 0;
    opacity: 1;
    color: #06360e;
    background-color: #a4f3ae;
    margin: 2px ;
}

ol, ul, dl {
  font-size: 16px;
}

.sourceCode{
  font-size: 14px;
  background-color: none;

}

.column-margin.column-container p {
    margin-bottom: 0;
    font-size: 13px;
}



#quarto-appendix.default .footnotes ol, #quarto-appendix.default .footnotes ol li>p:last-of-type, #quarto-appendix.default .quarto-appendix-contents>p:last-of-type {
    margin-bottom: 0;
    font-size: 14px;
}

#title-block-header{
  background-image: url('HeadCoverv2.png');
  padding-top: 10px;
  color: #FFFFFF;
  background-repeat: repeat-x;
  background-color: #CCCCCC;
}


.quarto-title-banner p {
  color: #FFFFFF;
}

div.quarto-post .listing-categories .listing-category {
    padding: 0.15em 0.55em 0em 0.55em;
    font-size: .65em;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 1px #a4f3ae;
    border-radius: 0;
    opacity: 1;
    color: #06360e;
    background-color: #a4f3ae;
    margin: 2px ;
}

.about h1{
  font-family: "DM Serif Text", serif;
  color: #2d2e30;
}